:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
}



.App{
  display: grid;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  
  grid-template-columns: 1fr 5fr 1fr;
  justify-content: center;
 
  justify-content: space-between;
}
.gallery, .ban-list{
  display: grid; 
  
  grid-template-rows: 1fr 9fr;
  justify-content: center;
  align-items: center;
 
}

.gallery-container, .ban-list-container{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 120px;
  border-radius: 8px;
  background-color: rgb(216, 205, 205);
  overflow-y: auto;
  gap: 10px;
  padding-top: 5px;
  
}
.ban-list-container{

 font-size: 15px;
 font-weight: 600;
 
}
.list-card{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
 
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button, .attribute{
  border-radius: 8px;
  border: none;
  font-size: 1em;
  width: 140px;
  height: 50px;
  font-weight: 500;
  color: white;
  font-family: inherit;
  background-color:#04AA6D ;
  cursor: pointer;
  transition: all 0.25s;
}

.api-panel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 8px;
  text-align: center;
  line-height: 400px;
  
}

.gallery-card{
  width: 100px;
  height: 100px;
}

button:hover, .attribute:hover{
  background-color: hsl(158, 95%, 24%);
  
 }

 .read-the-docs {
  color: #888;
}
.image-container{
  width: 400px;
  height: 400px;
  display: flex;
  border-radius: 8px;
  border: 2px solid rgb(133, 126, 126);

}

.attributes-panel{
  display: flex;
  gap: 30px;
}

.attribute{
 width: 160px;
 display: flex;
 justify-content: center;
 align-items: center;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
 
}
